<ng-container *ngIf="isInitialized">
    <app-login *ngIf="isLogin" (Flag)="hide($event)"></app-login>
    <app-layout *ngIf="!isLogin" (Flag)="show($event)"></app-layout>
  </ng-container>

  
  <p-confirmDialog
    [ngClass]="{
      'errorMsgColour': msgStatus === 'error', 
      'warningMsgColour': msgStatus === 'warning',
      'successMsgColour': msgStatus === 'success',
      'deleteMsgColour': msgStatus === 'delete',
      'confirmationMsgColour': msgStatus === 'confirm'
    }"
  ></p-confirmDialog>
  
