<form class="mainbody" [formGroup]="myForm" (ngSubmit)="insert()" novalidate>
    <p-card class="test" >
        <ng-template pTemplate="header">
            <h4 style="font-weight: 600;">
                Add Company Detail
                <p-badge class="badge"  [value]="badgeval" severity="success"></p-badge>
            </h4>
            
            
            <div class="bts">
                <p-toast></p-toast>
                <button type="button" (click)="BackToList($event)" pTooltip="Back to List" tooltipPosition="bottom">
                    <i class="fa-solid fa-list-ul" style="color: #FF0000;" ></i>
                    Back To List
                </button>
                <p-confirmDialog></p-confirmDialog>
                <button type="button" pTooltip="Add new" tooltipPosition="bottom" (click)="Addnew($event)">
                    <i class="fa-solid fa-plus" style="color: #1E1EC4;"></i>
                    Add New
                </button>
                <button type="button" (click)="routeToList()" pTooltip="Go to List" tooltipPosition="bottom">
                    <i class="fa-solid fa-floppy-disk" style="color: #008000;"></i>
                    Submit & Go To List
                </button>
                <button type="submit" pTooltip="Submit" tooltipPosition="bottom">
                    <i class="fa-solid fa-floppy-disk" style="color: #008000;"></i>
                    Submit
                </button>
                <button type="button" pTooltip="Submit" tooltipPosition="bottom" (click)="SubmitAndReset()">
                    <i class="fa-solid fa-floppy-disk" style="color: #008000;"></i>
                    Submit & Add New
                </button>

                <button type="button" (click)="GetFirst($event)">
                    <i class="fa-solid fa-angles-left" style="color: #1E1EC4;"></i>
                </button>
                
                <button type="button" (click)="GetPrevious($event)">
                    <i class="fa-solid fa-angle-left" style="color: #1E1EC4;"></i>
                </button>
                <button type="button" (click)="GetNext($event)">
                    <i class="fa-solid fa-angle-right" style="color: #1E1EC4;"></i>
                </button>

                <button type="button" (click)="GetLast($event)">
                    <i class="fa-solid fa-angles-right" style="color: #1E1EC4;"></i>
                </button>
                
            </div>
            
        </ng-template>




        <div class="body" >
            
           <div class="rowss">
            
                <div class="input-group" style="height: 90px;">
                    <label for="companyname" class="form-label">Company Name <span style="color: red;">*</span></label>
                    <input pInputText type="text" class="form-control" id="companyname" formControlName="companyname" placeholder="Full Name" autocomplete="off" />
                    
                    <small *ngIf="myForm.get('companyname')?.errors?.['required'] && myForm.get('companyname')?.touched " >
                        *This field is required.
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['pattern']" >
                        *it allows only Alphabet, Numeric Values
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['maxlength']" >
                        *Company name should lesser than 20
                    </small>
                </div>
                

                <div class="input-group" style="height:90px;">
                    <label for="companyshortname" class="form-label">Short Name </label>
                    <input pInputText type="text" class="form-control" id="companyshortname" formControlName="companyshortname" placeholder="Short Name" autocomplete="off" />
                    <small *ngIf="myForm.get('companyshortname')?.errors?.['pattern']">
                        *Company Name allows only Alphabet, Numeric And Only Special Character '-'
                    </small>
                    <small *ngIf="myForm.get('companyshortname')?.errors?.['maxlength']" >
                        *Company name should lesser than 10
                    </small>
                </div>

                <div class="input-group" style="height:90px;">
                    <label for="contact" class="form-label">Business Contact <span style="color: red;">*</span></label>
                    <input pInputText class="form-control" id="contact" formControlName="contact"  placeholder="Phone Number" autocomplete="off"  />
                    <small *ngIf="myForm.get('contact')?.errors?.['required'] && myForm.get('contact')?.touched " >
                        *This field is required.
                    </small>
                    <small *ngIf="myForm.get('contact')?.errors?.['pattern']">
                        *Enter Valid Number & it allow only Numeric Value
                    </small>
                    <small *ngIf="myForm.get('contact')?.errors?.['maxlength']">
                        *Length should be 10
                    </small>
                    
                </div>

                <div class="input-group" style="height:90px;">
                    <label for="active" class="form-label">Active</label>
                    <p-inputSwitch class="form-control" type="" formControlName="active" ></p-inputSwitch>
                    
                </div>
                
                
                

           </div>
           <div class="rowss">

            
            <div class="input-group" style="height:90px;">
                <label for="cid" class="form-label">Country <span style="color: red;"> * </span></label>
                <p-dropdown class="fullwidth form-control" formControlName="cid" [options]="countrys" optionLabel="country" optionValue="cid" placeholder="Select a Country" (onChange)="onCountryChange($event)"></p-dropdown>
                
                <small *ngIf="myForm.get('cid')?.errors?.['required'] && myForm.get('cid')?.touched " >
                    *This field is required.
                </small>
             

            </div>
            
            
            <div class="input-group" style="height:90px;">
                <label for="username" class="form-label">State<span style="color: rgb(255, 0, 0);"> * </span></label>
                <p-dropdown class="fullwidth form-control" formControlName="sid" [options]="states" optionLabel="state" optionValue="sid"  placeholder="Select a State" (onChange)="onStateChange($event)"></p-dropdown>
                <small *ngIf="myForm.get('sid')?.errors?.['required'] && myForm.get('sid')?.touched " >
                    *This field is required.
                </small>
            </div>

           <div class="input-group" style="height:90px;">
                <label for="username" class="form-label">City<span style="color: red;"> * </span></label>
                <p-dropdown class="fullwidth form-control" formControlName="cityid" [options]="citys" optionLabel="city" optionValue="cityid" placeholder="Select a City" ></p-dropdown>
                <small *ngIf="myForm.get('cityid')?.errors?.['required'] && myForm.get('cityid')?.touched " >
                    *This field is required.
                </small>
            </div>


            <div class="input-group" style="height:90px;background-color: rgb(255, 255, 255);">
                <label for="revenue" class="form-label">Revenue<span style="color: red;"> * </span></label>
                <input class="form-control"  pInputText  id="revenue" placeholder="Revenue" formControlName="revenue" autocomplete="off" />
                <small *ngIf="myForm.get('revenue')?.errors?.['required'] && myForm.get('revenue')?.touched">
                    * This field is required.
                </small>
                <small *ngIf="myForm.get('revenue')?.errors?.['pattern']">
                    * Revenue allow numeric value with up to 2 decimal places.
                </small>
                <small *ngIf="myForm.get('revenue')?.errors?.['maxlength']" >
                    * Revenue should be less than 12 characters.
                </small>
            </div>
            
            
       </div>



       <div class="rowss" >
        <div class="input-group" style="height:200px;">
            <label for="address" class="form-label">Address </label>
            <textarea rows="5" cols="30" id="address" class="form-control" pInputTextarea placeholder="Address" autocomplete="off" formControlName="address" ></textarea>
            
        </div>

        <div class="input-group" style="height:200px;">
            <label for="Email" class="form-label">Contact Email<span style="color: red;"> * </span></label>
            <textarea class="form-control" rows="5" cols="30" pInputTextarea placeholder="Contact Email Of The Company" formControlName="email" autocomplete="off"></textarea>
            <small *ngIf="myForm.get('email')?.errors?.['required'] && myForm.get('email')?.touched">
                * This field is required.
            </small>
            <small *ngIf="myForm.get('email')?.errors?.['email'] && myForm.get('email')?.touched">
                * Enter a valid email address.
            </small>
            <small *ngIf="myForm.get('email')?.errors?.['minlength']">
                * This field must have at least 5 characters.
            </small>
            <small *ngIf="myForm.get('email')?.errors?.['maxlength']">
                * This field must have at most 250 characters.
            </small>
        </div>
        
        

        <div class="input-group" style="height: 200px;">
            <label for="zipcode" class="form-label">Zip Code<span style="color: red;"> * </span></label>
            <input pInputText  placeholder="Zipcode" id="zipcode" class="form-control" formControlName="zipcode"  autocomplete="off" />
           

            <small *ngIf="myForm.get('zipcode')?.errors?.['required'] && myForm.get('zipcode')?.touched">
                *This field is required.
            </small>
            <small *ngIf="myForm.get('zipcode')?.errors?.['pattern']">
                *Zipcode allows only numeric values
            </small>
            <small *ngIf="myForm.get('zipcode')?.errors?.['maxlength'] ">
                *Length should be 5
            </small>
        </div>
        
        <div class="input-group" style="height:200px;">
            <label for="cid" class="form-label">Currency<span style="color: red;"> * </span></label>
            <p-dropdown class="fullwidth form-control" formControlName="currency"[options]="currency" optionLabel="currency" optionValue="currencyid" placeholder="Select a Currency" ></p-dropdown>
            
            <small *ngIf="myForm.get('cid')?.errors?.['required'] && myForm.get('cid')?.touched " >
                *This field is required.
            </small>
         

        </div>
       </div>

        </div>
       

       
    </p-card>


    

</form>

<div *ngIf="animation" style="width: 100%;height: 100vh;display: flex;align-items: center;justify-content: center;background-color: rgba(0, 0, 0, 0.623);position: absolute;top: 0;left: 0;z-index: 999;" class="preloader">
    <img src="../assets/idepo container.svg" alt="">
</div>

