<form class="mainbody" [formGroup]="myForm" (ngSubmit)="addBudget()" novalidate>
    <p-card class="test" >
        <ng-template pTemplate="header">
            <h4 style="font-weight: 600;">
                Budget
                <p-badge class="badge"  [value]="badgeval" severity="success"></p-badge>
            </h4>


            <div class="bts">
                <p-toast></p-toast>
                <button type="button" (click)="BackToList($event)" pTooltip="Back to List" tooltipPosition="bottom">
                    <i class="fa-solid fa-list-ul" style="color: #FF0000;" ></i>
                    Back To List
                </button>
                <p-confirmDialog></p-confirmDialog>
                <button type="button" pTooltip="Add new" tooltipPosition="bottom" (click)="Addnew($event)">
                    <i class="fa-solid fa-plus" style="color: #1E1EC4;"></i>
                    Add Budget
                </button>
                <button type="button" (click)="routeToList()" pTooltip="Go to List" tooltipPosition="bottom">
                    <i class="fa-solid fa-floppy-disk" style="color: #008000;"></i>
                    Submit & Go To List
                </button>
                <button type="submit" pTooltip="Submit" tooltipPosition="bottom">
                    <i class="fa-solid fa-floppy-disk" style="color: #008000;"></i>
                    Submit
                </button>
               
    
                <button type="button" (click)="GetFirst($event)">
                    <i class="fa-solid fa-angles-left" style="color: #1E1EC4;"></i>
                </button>
                
                <button type="button" (click)="GetPrevious($event)">
                    <i class="fa-solid fa-angle-left" style="color: #1E1EC4;"></i>
                </button>
                <button type="button" (click)="GetNext($event)">
                    <i class="fa-solid fa-angle-right" style="color: #1E1EC4;"></i>
                </button>
    
                <button type="button" (click)="GetLast($event)">
                    <i class="fa-solid fa-angles-right" style="color: #1E1EC4;"></i>
                </button>
                
            </div>
    

        </ng-template>

        <div class="body">
            <div class="rowss">
                <div class="input-group" style="height: 90px;">
                    <label for="companyname" class="form-label">Budget Code</label>
                    <input style="cursor: not-allowed; background-color: #f5f5f5; color: #808080;"  pInputText type="text" class="form-control" id="companyname" formControlName="budgetid" placeholder="Budegt code" autocomplete="off" readonly />
                    
                    <!-- <small *ngIf="myForm.get('companyname')?.errors?.['required'] && myForm.get('companyname')?.touched " >
                        *This field is required.
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['pattern']" >
                        *it allows only Alphabet, Numeric Values
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['maxlength']" >
                        *Company name should lesser than 20
                    </small> -->
                </div>
                

                <div class="input-group" style="height:90px;">
                    <label for="companyshortname" class="form-label">Description<span style="color: red;">*</span></label>
                    <input pInputText type="text" class="form-control" id="companyshortname" formControlName="description" placeholder="Description" autocomplete="off" />
                    <!-- <small *ngIf="myForm.get('companyshortname')?.errors?.['pattern']">
                        *Company Name allows only Alphabet, Numeric And Only Special Character '-'
                    </small>
                    <small *ngIf="myForm.get('companyshortname')?.errors?.['maxlength']" >
                        *Company name should lesser than 10
                    </small> -->
                </div>

                <div class="input-group" style="height:90px;">
                    <label for="currencyid" class="form-label">Currency<span style="color: red;"> * </span></label>
                <p-dropdown class="fullwidth fullform-control" formControlName="currencyid" [options]="currency" optionLabel="currency" optionValue="currencyid" placeholder="Select a Currency" ></p-dropdown>
                    <!-- <small *ngIf="myForm.get('contact')?.errors?.['required'] && myForm.get('contact')?.touched " >
                        *This field is required.
                    </small>
                    <small *ngIf="myForm.get('contact')?.errors?.['pattern']">
                        *Enter Valid Number & it allow only Numeric Value
                    </small>
                    <small *ngIf="myForm.get('contact')?.errors?.['maxlength']">
                        *Length should be 10
                    </small> -->
                    
                </div>

            


                <div class="input-group" style="height:90px;">
                    <label for="active" class="form-label">Active</label>
                    <p-inputSwitch class="form-control" type="" formControlName="active" ></p-inputSwitch>
                    
                </div>    
            </div>
        </div>

        <p-card  class="first">
            <ng-template pTemplate="header">
                <h4 style="font-weight: 600;">
                    Budget Detail Entry
                </h4>
            </ng-template>

            <div class="body2">


                <div class="budget-tree"  >
                    <p-card class="budget-tree-card second">
                        <ng-template pTemplate="header">
                            <h4 style="font-weight: 600;">
                                Budget Tree
                            </h4>
                        </ng-template>
                        <p-tree class="w-full md:w-30rem" [value]="tree" selectionMode="single" (onNodeSelect)="onNodeSelect($event)"></p-tree>
                    </p-card>
                </div>





                <div class="budget-view" style="display: flex;flex-direction: column;">
                   
            <div class="rowss">
                <div class="input-group" style="height: 90px;">
                    <label for="cid" class="form-label">Country <span style="color: red;"> * </span></label>
                    <p-dropdown class="fullwidth form-control readonly-field" formControlName="cid" [options]="country" optionLabel="country" optionValue="cid" placeholder="Select a Country" ></p-dropdown>
                    
                    <!-- <small *ngIf="myForm.get('companyname')?.errors?.['required'] && myForm.get('companyname')?.touched " >
                        *This field is required.
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['pattern']" >
                        *it allows only Alphabet, Numeric Values
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['maxlength']" >
                        *Company name should lesser than 20
                    </small> -->
                </div>
                

                <div class="input-group" style="height:90px;">
                    <label for="username" class="form-label">State<span style="color: rgb(255, 0, 0);"> * </span></label>
                    <p-dropdown class="fullwidth form-control readonly-field" formControlName="sid" [options]="state" optionLabel="state" optionValue="sid"  placeholder="Select a State" ></p-dropdown>
                    <!-- <small *ngIf="myForm.get('companyshortname')?.errors?.['pattern']">
                        *Company Name allows only Alphabet, Numeric And Only Special Character '-'
                    </small>
                    <small *ngIf="myForm.get('companyshortname')?.errors?.['maxlength']" >
                        *Company name should lesser than 10
                    </small> -->
                </div>

                <div class="input-group" style="height:90px;">
                    <label for="username" class="form-label">City<span style="color: red;"> * </span></label>
                    <p-dropdown class="fullwidth form-control readonly-field" formControlName="cityid" [options]="city" optionLabel="city" optionValue="cityid" placeholder="Select a City" ></p-dropdown>
                    <!-- <small *ngIf="myForm.get('contact')?.errors?.['required'] && myForm.get('contact')?.touched " >
                        *This field is required.
                    </small>
                    <small *ngIf="myForm.get('contact')?.errors?.['pattern']">
                        *Enter Valid Number & it allow only Numeric Value
                    </small>
                    <small *ngIf="myForm.get('contact')?.errors?.['maxlength']">
                        *Length should be 10
                    </small> -->
                    
                </div>

            


                <div class="input-group" style="height: 90px;">
                    
                    <label for="cid" class="form-label">Short Name <span style="color: red;"> * </span></label>
                    <p-dropdown class="fullwidth form-control readonly-field" formControlName="companyid" [options]="shortname" optionLabel="companyshortname" optionValue="companyid" placeholder="Select a shortname" ></p-dropdown>
                    <!-- <small *ngIf="myForm.get('companyname')?.errors?.['required'] && myForm.get('companyname')?.touched " >
                        *This field is required.
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['pattern']" >
                        *it allows only Alphabet, Numeric Values
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['maxlength']" >
                        *Company name should lesser than 20
                    </small> -->
                </div>    
            </div>

            <div class="rowss">
                <div class="input-group" style="height: 90px;">
                    <label for="companyname" class="form-label">Company Name</label>
                    <input pInputText type="text" class="form-control readonly-field" id="companyname" formControlName="companyname" placeholder="Full Name" autocomplete="off" />
                    
                    <!-- <small *ngIf="myForm.get('companyname')?.errors?.['required'] && myForm.get('companyname')?.touched " >
                        *This field is required.
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['pattern']" >
                        *it allows only Alphabet, Numeric Values
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['maxlength']" >
                        *Company name should lesser than 20
                    </small> -->
                </div>
                

                <div class="input-group" style="height:90px;">
                    <label for="companyname" class="form-label">Revenue</label>
                    <input pInputText type="text" class="form-control readonly-field" id="companyname" formControlName="revenue" placeholder="Revenue" autocomplete="off" />
                    <!-- <small *ngIf="myForm.get('companyshortname')?.errors?.['pattern']">
                        *Company Name allows only Alphabet, Numeric And Only Special Character '-'
                    </small>
                    <small *ngIf="myForm.get('companyshortname')?.errors?.['maxlength']" >
                        *Company name should lesser than 10
                    </small> -->
                </div>

                <div class="input-group" style="height:90px;">
                    <label for="contact" class="form-label">Contact</label>
                    <input pInputText class="form-control readonly-field" id="contact" formControlName="contact" placeholder="Phone Number" autocomplete="off"  />
                    <!-- <small *ngIf="myForm.get('contact')?.errors?.['required'] && myForm.get('contact')?.touched " >
                        *This field is required.
                    </small>
                    <small *ngIf="myForm.get('contact')?.errors?.['pattern']">
                        *Enter Valid Number & it allow only Numeric Value
                    </small>
                    <small *ngIf="myForm.get('contact')?.errors?.['maxlength']">
                        *Length should be 10
                    </small> -->
                    
                </div>

            


                <div class="input-group" style="height: 90px;">
                    <label for="companyname" class="form-label">Zipcode</label>
                    <input pInputText type="text" class="form-control readonly-field" id="companyname" formControlName="zipcode" placeholder="Zipcode" autocomplete="off" />
                    
                    <!-- <small *ngIf="myForm.get('companyname')?.errors?.['required'] && myForm.get('companyname')?.touched " >
                        *This field is required.
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['pattern']" >
                        *it allows only Alphabet, Numeric Values
                    </small>

                    <small *ngIf="myForm.get('companyname')?.errors?.['maxlength']" >
                        *Company name should lesser than 20
                    </small> -->
                </div>   
            </div>

            <div class="rows">
               
<div class="card">
    <p-table styleClass="p-datatable-gridlines" [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Start</th>
                <th>Limit</th>
                <th>ManHour</th>
                <th>Container Type</th>
                <th>Container Size</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr class="tarif-tab" (click)="showDialog()" >
                <td> {{ myForm.get('startamount')?.value}}</td>
                <td>{{ myForm.get('limitamount')?.value }}</td>
                <td>{{ myForm.get('manhour')?.value }}</td>
                <td>{{ myForm.get('containertype')?.value }}</td>
                <td>{{ myForm.get('containersize')?.value }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
            </div>
            
                </div>

               
            </div>



            <ng-template pTemplate="footer"  style="display: flex;width: 100%;align-items: center;justify-content: flex-end;">
               <button >Add</button>
               <button style="margin-left: 10px;">Reset</button>
            </ng-template>


        </p-card>




        <p-card>
            <ng-template pTemplate="header">
                <h4 style="font-weight: 600;">
                    Budget Detail View
                </h4>
            </ng-template>

            <div class="body2" style="width: 100%;height: 100%;">
                <div class="body" style="height:100%;width: 100%;" [class.hide]="showAddBudgetdetail" >
                <div class="container-fluid">
     
                    <div  style="max-height: calc(100vh - 110px)">
                      <div  style="max-height: calc(100vh - 110px);border: 1px solid rgba(0, 0, 0, 0.131); padding: 10px 20px;">
                        <p-table id="demo" #demo styleClass="p-datatable-gridlines"
                          [value]="budgetdetail" 
                          [paginator]="true"
                          [rows]="showval"
                          [lazy]="true"
                          (onLazyLoad)="LazyDataBudget($event)"
                          [loading]="animation"
                          [totalRecords]="total_records"
                          [showCurrentPageReport]="true"
                          [tableStyle]="{ 'max-width': '100%','height':'100%','background-color':'white'}" 
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                          [rowsPerPageOptions]="[10,15,20]"
                          [scrollable]="true"
                          scrollHeight="700px"
                          [customSort]="true"
                          [globalFilterFields]="['companyid', 'companyname', 'companyshortname', 'contact','address','country','state','city','zipcode','active','revenue']"
                          
                          >
              
              
                          <ng-template pTemplate="caption"  >
                            <div class="" style="width: 100%;display: flex;align-items:center;justify-content: space-between;height: 30px;">
                            
                                
                                <div class="cap">
                                  <div class="p-input-icon-left ginput">
                                    <span class="p-input-icon-right ml-auto">
                                      <input #filterInput pInputText type="text" (input)="demo.filterGlobal($any($event.target).value, 'contains')" placeholder="Global Filter" />
                                      <i class="pi pi-search"></i>
                                  </span>
                                </div>
                                  <i class="fa-solid fa-rotate"   style="color : #1e7d23;" pTooltip="Reload" tooltipPosition="bottom" ></i>
                                  <i class="fa-solid fa-filter"   pTooltip="Filter" tooltipPosition="bottom" style="color: #1C537A;"></i>
                                  <i class="fa-solid fa-eraser"  *ngIf="showwwww"  style="color : #0C0C8D;" pTooltip="Reset" tooltipPosition="bottom"></i>
                                  <i class="fa-regular fa-file-excel"  pTooltip="Excel" tooltipPosition="bottom" style="color: #1e7d23;"></i>
                                </div>
                                
                                
                            </div>
                        </ng-template>
              
              
                          
                            
                          <ng-template pTemplate="header">
                           
                            
                              <tr style="height: 40px;">
                                  <th style="width: 10%;" pSortableColumn="startamount">Start Amount<p-sortIcon field="description"></p-sortIcon></th>
                                  <th style="width: 10%;" pSortableColumn="limitamount">Limit Amount<p-sortIcon field="currency"></p-sortIcon></th>
                                  <th style="width: 10%;" pSortableColumn="manhour">Man Hour<p-sortIcon field="active"></p-sortIcon></th>
                                  <th style="width: 10%;" pSortableColumn="containertype">Container Type<p-sortIcon field="createdate"></p-sortIcon></th>
                                  <th style="width: 10%;" pSortableColumn="containersize">Container Size<p-sortIcon field="createdate"></p-sortIcon></th>
                                  
                              </tr>
              
                              
              
              
                              <tr  style="height: 5vh;" class="try" *ngIf="showwwww">
                
                              <th style="width: 10%;">
                                  <p-columnFilter  type="text" field="startamount" ></p-columnFilter>
                              </th>
                              <th style="width: 10%;">
                                  <p-columnFilter type="text" field="limitamount"></p-columnFilter>
                              </th>
                              <th style="width: 10%;">
                                  <p-columnFilter type="text" field="manhour"></p-columnFilter>
                              </th>
                
                            <th style="width: 10%;">
                                <p-columnFilter type="text" field="containertype"></p-columnFilter>
                            </th>
                            <th style="width: 10%;">
                              <p-columnFilter type="text" field="containersize"></p-columnFilter>
                          </th>
                          
                    
              
                              </tr>
                          </ng-template>
                          <ng-template  pTemplate="body" let-budgetdetail let-rowIndex="rowIndex">
                            <tr class="tr-body"  >
                              <td >{{budgetdetail.startamount }}</td>
                              <td >{{budgetdetail.limitamount }}</td>
                              <td >{{budgetdetail.manhour}}</td>
                              <td >{{budgetdetail.containertype}}</td>
                              <td >{{ budgetdetail.containersize }}</td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="11">No Budget Detail found.</td>
                            </tr>
                        </ng-template>
                          
                          <ng-template pTemplate="paginatorleft" class="print">
                          </ng-template>
                          <ng-template pTemplate="paginatorright" class="print">
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </div>

                



                </div>


            </div>
        </p-card>
        

           

        
       

       
    </p-card>


    

</form>

<div *ngIf="animation" style="width: 100%;height: 100vh;display: flex;align-items: center;justify-content: center;background-color: rgba(0, 0, 0, 0.623);position: absolute;top: 0;left: 0;z-index: 999;" class="preloader">
    <img src="../assets/idepo container.svg" alt="">
</div>

<p-dialog  [(visible)]="visible" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <h4 style="color: black;">Detail line header</h4>
      </ng-template>
    <form action="">
  
    <p>Detail line data</p>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="visible = false" label="Ok" pAutoFocus [autofocus]="true"></p-button>
    </ng-template>
</form>
</p-dialog>