
    .mainbody{
        .sidebar{
            width: 280px;
            border-right: 1px solid rgba(0, 0, 0, 0.131);;
            h3{
                color:#1E3D7D;
            }
            form{   
                div{
                    
                    button{
                        width: 40%;
                        height: 40px;
                        border: 1px solid #000000;
                        cursor: pointer;
                        transition: 0.3s all;
                        background-color: #04246A;
                        outline: none;
                        font-size: 15px;
                    }
                    button:hover{
                        color: #FFA500;
                       
                    }
                    
                    
                } 
                
                label{
                    font-size: 14px;
                    font-weight: 500;
                }

                p-multiSelect{
                    margin-bottom: 30px;
                }

                
            }
        }

    }


th{
    
    font-size: small;
}
  
.sec-div{
    height: 50px;
    background-color:#04246A;
    border: 1px solid rgb(231, 231, 231);
}


  .cap{
    width: 550px;   
    .ginput{
        span{
            i{
                font-size: 15px;
                color: #1c537a;
            }
            input{
                width: 250px;
                height: 38px;
                border: 1px solid rgba(0, 0, 0, 0.199);
                outline: none;
            }
        }
    }
   
    i{
        cursor: pointer;
        font-weight: 900;
        font-size:20px;
        margin-right: 30px;

    }
    .tooltip{
        color: red;
    }

    i:nth-child(1){
        color : #1E3D7D;
    }

    

    
}



h4{
    font-weight: 600;
    font-size: 17px
}




@media print{
    .mainbody{
        .sidebar{
            display: none;
        }
    }
    .cap{
        display: none;
    }
    .print{
        display: none;
    }
}

.tr-body:hover {
    background-color: rgba(0, 0, 0, 0.050);
    cursor: pointer;
}

.hidecompany {
    display: none !important;

  }

