<form  [formGroup]="mainForm2" (ngSubmit)="submitForm()" class="main-body w-100 h-100  p-2" style="overflow-y: auto;">
    <p-card class="test " >
        <ng-template pTemplate="header">
            <h4 class="fw-semibold fs-6 m-0">
                Repair Company (RC)
                <p-badge class="badge"  [value]="badgeval" severity="success"></p-badge>
            </h4>
            
            
            <div class="bts">
                <p-toast></p-toast>
               
                <button type="button" (click)="BackToList($event)" pTooltip="Back to List" tooltipPosition="bottom">
                    <i class="fa-solid fa-list-ul text-danger"  ></i>
                    Back To List
                </button>

                <button type="button" pTooltip="Add new" tooltipPosition="bottom" (click)="Addnew($event)">
                    <i class="fa-solid fa-plus text-primary"></i>
                    Add New
                </button>
                <button type="button" (click)="routeToList()" pTooltip="Go to List" tooltipPosition="bottom">
                    <i class="fa-solid fa-floppy-disk text-success" ></i>
                    Submit & Go To List
                </button>
                <button type="submit" pTooltip="Submit" tooltipPosition="bottom">
                    <i class="fa-solid fa-floppy-disk text-success" ></i>
                    Submit
                </button>
                <button type="button" pTooltip="Submit" tooltipPosition="bottom" (click)="SubmitAndReset()">
                    <i class="fa-solid fa-floppy-disk text-success" ></i>
                    Submit & Add New
                </button>
                <button type="button"(click)="AttachmentPop()"  pTooltip="Back to List" tooltipPosition="bottom">
                    <i class="fa-solid fa-paperclip text-danger"></i>
                    Attachments 
                </button>

                <button type="button" (click)="GetFirst($event)">
                    <i class="fa-solid fa-angles-left text-primary" ></i>
                </button>
                
                <button type="button" (click)="GetPrevious($event)">
                    <i class="fa-solid fa-angle-left text-primary" ></i>
                </button>
                <button type="button" (click)="GetNext($event)">
                    <i class="fa-solid fa-angle-right text-primary" ></i>
                </button>

                <button type="button" (click)="GetLast($event)">
                    <i class="fa-solid fa-angles-right text-primary" ></i>
                </button>
                
            </div>
            
        </ng-template>

        <div class="body m-0 p-2 w-100 h-100 container-fluid d-flex align-items-center justify-content-start flex-column">

            <div class="wizard container-fluid rounded p-0 d-flex">
                <div *ngFor="let step of steps" (click)="OpenDiv(step.id)" 
                     class="step d-flex align-items-center justify-content-center"
                     [ngStyle]="{ 'background-color': currentStep === step.id ? '#04246a' : '#f9f9f9' }">
                  <span class="p-2 me-2 d-flex align-items-center justify-content-center text-white rounded-circle" 
                        [ngClass]="{ 'bg-danger': currentStep !== step.id }"
                        style="width: 22px;height: 22px;">{{step.id}}</span>
                  <a [ngClass]="{ 'text-white': currentStep === step.id, 'text-dark': currentStep !== step.id }" style="text-decoration: none;">{{step.label}}</a>
                </div>
              </div>
        </div>

      
        <div *ngIf="currentStep === 1">
            <app-test1 [childForm]="childform1"></app-test1>
          </div>
          <div *ngIf="currentStep === 2">
            <app-test2 [childForm]="childform2"></app-test2>
          </div>
          <div *ngIf="currentStep === 3">
            <app-addbudget></app-addbudget>
          </div>
          <div *ngIf="currentStep === 4">
            <app-test3></app-test3>
          </div>
          <div *ngIf="currentStep === 5">
            <div>Notification content here</div>
          </div>



        

       
    </p-card>
</form>
